
<md-dialog ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>RDD Service Catalogue</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="hide()">
          <md-icon><i class="fa fa-times" aria-label='Close dialog' translate-attr-aria-label="navigation_action_search_close" ></i></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
         <div class="container">
      <img src="/public/images/rddImg.png"/>
         </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="btn btn-success" ng-click="hide()">
        Ok
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>