.ttile {
  height: 150px;
}

.tileblock {
  margin-bottom: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 10px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 0 1px 1px #fff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .05);
  background-color: #f0f0f0;
  color: #000000;
  border-top: 4px solid #000000;
}

.pmargin {
  margin: 0 0 5px;
}

.title-truncate-new {
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-job {
  color: #000 !important;
  font-size: 1.2em;
  font-family: "gtWalsheimBold", Arial, sans-serif;
  font-weight: bold !important;
  text-transform: capitalize;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
}
a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}
.capital {
  text-transform: capitalize;
}
.text-desc {
  font-size: 12px;
  font-family: "gtWalsheimWeb", Arial, sans-serif;
  color: #000000;
}
.btn-default {
  color: #000;
  background-color: #ffed00;
  border-color: #ccc;
}
.btn-default {
  color: #000;
  background-color: #ffed00;
  border-color: #ffed00;
  font-weight: 700;
  padding: 6px 12px;
}
.btn {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 0px;
}

.form-control {
  padding: 6px 12px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 0px;
}

.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}